{% extends 'base.html' %}

{% block content %}

<br>

<form>
    <label for="country">What country do you want visit?<br>
        choose one of the two voting options
    </label><br><br>
    <input type="text" id="country" name="country" placeholder="Enter country name"><br>
    <input type="submit" value="Submit Country">
</form>
<br>
<hr>

<section id="FirstVote">
    <form>
            <input type="radio" id="thailand" name="fav_country" value="Thailand">
            <label for="thailand">Thailand</label>
            <input type="radio" id="vietnam" name="fav_country" value="Vietnam">
            <label for="vietnam">Vietnam</label>
            <input type="radio" id="korea" name="fav_country" value="Korea">
            <label for="korea">Korea</label>
            <input type="radio" id="poland" name="fav_country" value="Poland">
            <label for="poland">Poland</label><br>
        <input type="submit" value="Submit Country">
    </form>
</section>
<br>


{% endblock %}