{% extends 'base.html' %}

{% block content %}
    <p style="color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat at sapiente veniam corporis maiores? Dignissimos. 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatum exercitationem dolor atque aspernatur fugiat. Lorem ipsum dolor 
        sit amet consectetur adipisicing elit. Totam voluptatem quo magnam, vitae voluptatum odit assumenda corrupti enim veniam laboriosam eligendi impedit 
        nemo! Voluptates impedit quis eius delectus officiis pariatur temporibus eos repudiandae at sint, natus cum quidem eligendi, eaque molestias sit magnam 
        reiciendis. Veritatis explicabo molestias sint ipsam corporis velit neque dolores repudiandae cupiditate eum eaque vel accusantium, eligendi harum asperiores 
        maxime similique consequuntur modi nostrum fugiat, voluptates debitis corrupti! Quos, laboriosam vel excepturi tenetur deserunt incidunt. Labore praesentium 
        voluptatibus magnam consequuntur delectus odio quod, quidem exercitationem dolores assumenda modi eaque quia repellendus. Doloremque est, quia nemo voluptate 
        error mollitia esse quo repellendus dolores minima voluptas nam soluta! Quibusdam voluptatem consequuntur, sapiente possimus odio eum cum velit quae laboriosam 
        repellat asperiores blanditiis ipsam harum cupiditate laborum aliquam odit? Soluta fugiat voluptatibus distinctio consequuntur. Hic vitae, delectus rerum eveniet
         vero animi? Temporibus neque commodi placeat repudiandae quod perspiciatis debitis repellat assumenda,
        quam expedita explicabo qui reiciendis ipsum molestias aperiam ducimus!
    </p>

{% endblock %}